/* Размещение формы на странице */
#table {
    width: 500px;
    height: 500px;
    margin-left: 800px;
    margin-top: 400px;
    font-size: 25px;
}

/* Фон на всю ширину окна браузера */
body {
   background: url(images/Border.png) no-repeat;
    background-size: 100%; /* Современные браузеры */
}

/* Размещение текста на странице */
.text {
    text-align:left;
    font-size: 20px;
    margin-left: 120px;
    margin-top: 150px;
    padding-right: 100px;
    text-indent: 1.5em;
}